<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="../static/css/admin.css">

  <link rel="stylesheet" href="../static/css/vistas.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <title>NuevoUsuario</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- SIDEBAR -->
  <section id="sidebar">
    <a href="#" class="brand"><i class="fa-solid fa-shop icon"></i> Facturacion</a>
    <ul class="side-menu">
        <li><a href="../templates/admin.html" class="active"><i class="fa-sharp fa-solid fa-user-tie icon"></i>
                Administrador</a></li>
        <li class="divider" data-text="interfaces"></li>
        <li>
            <a href="#"><i class="fa-solid fa-cart-shopping icon"></i> Ventas <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nueva_venta.html">Nueva venta</a></li>
                <li><a href="#">Ventas</a></li>

            </ul>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-truck-ramp-box icon"></i> Compras <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nueva_compra.html">Nueva compras</a></li>
                <li><a href="../templates/compras.html">Compras</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><i class="fa-solid fa-paste icon"></i> Productos <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nuevo_producto.html">Nuevo producto</a></li>
                <li><a href="../templates/producto.html">Productos</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><i class="fa-solid fa-cube icon"></i> Categoria <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nueva_categoria.html">Nueva categoria</a></li>
                <li><a href="../templates/categoria.html">Categoria</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><i class="fa-solid fa-users icon"></i> Clientes <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nuevo_cliente.html">Nuevo cliente</a></li>
                <li><a href="../templates/cliente.html">Clientes</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><i class="fa-solid fa-handshake icon"></i> Proveedores <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nuevo_proveedor.html">Nuevo proveedor</a></li>
                <li><a href="../templates/proveedores.html">Proveedores</a></li>

            </ul>
        </li>

        <li>
            <a href="#"><i class="fa-solid fa-user icon"></i> Usuarios <i
                    class='bx bx-chevron-right icon-right'></i></a>
            <ul class="side-dropdown">
                <li><a href="../templates/nuevo_usuario.html">Nuevo usuario</a></li>
                <li><a href="../templates/usuario.html">Usuarios</a></li>

            </ul>
        </li>


    </ul>

</section>
<!-- SIDEBAR -->
  <!-- NAVBAR -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class="fa-solid fa-bars menu"></i>
        <form action="/templates/cliente.html" method="post">
            <div class="form-group">
                <input type="text" name="buscar" id="buscar" placeholder="Buscar...">
                <i class='bx bx-search icon'></i>
            </div>

        </form>

        <span class="divider"></span>
        <div class="profile">
            <p class="perfil">ADMIN</p>
            <ul class="profile-link">

                <li><a href=""><i class='bx bxs-log-out-circle'></i> Salir</a></li>
            </ul>
        </div>
    </nav>

    



    <div class="todo">
      <div class="todo2">
        <a href="../nuevo_cliente" class="nuevo"><i class="fa-solid fa-plus"></i> Nuevo</a>
        <table id="tblDatos" class="tabla_full">
          <thead>
            <tr class="filas">
              <td class="fila">Cédula</td>
              <td class="fila">Nombres</td>
              <td class="fila">Apellidos</td>
              <td class="fila">Dirección</td>
              <td class="fila">Teléfono</td>
              <td class="fila">Email</td>
              <td class="fila">Opciónes</td>
            </tr>
          </thead>
          <tbody>
            {% for row in list_users %}
            <tr class="columnas">
              <td class="columna">{{row[0]}}</td>
              <td class="columna">{{row[1]}}</td>
              <td class="columna">{{row[2]}}</td>
              <td class="columna">{{row[3]}}</td>
              <td class="columna">{{row[4]}}</td>
              <td class="columna">{{row[5]}}</td>
              <td class="columna">
                <a href="/edit_cliente/{{row[0]}}" class="actualizar"><i class="fa-solid fa-user-pen"></i></a>
                <a onclick="confirmar('{{row[0]}}')" class="eliminar"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div id="paginador" class="paginador"></div>
      </div>

    </div>


    <script src="../static/js/admin.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/paginador.js"></script>


    <!--HACE QUE EL BOTON DE LA EQUIS DEL ALERTA FUNCIONE-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function confirmar(id) {
        Swal.fire({

          title: 'Estas seguro de eliminar ?',

          text: "No podras revertir esto !",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#d33',
          cancelButtonColor: '#3085d6',
          confirmButtonText: 'Si, eliminar!'

        }).then((result) => {
          if (result.isConfirmed) {
            window.location = '/delete_cliente/' + id;
          }
        })
      }
    </script>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script>

      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 2000
      })




    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}

  </section>
</body>

</html>