<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/admin.css">
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>MENUADMIN</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    
    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand"><i class="fa-solid fa-shop icon"></i> Facturacion</a>
        <ul class="side-menu">
            <li><a href="../templates/admin.html" class="active"><i class="fa-sharp fa-solid fa-user-tie icon"></i>
                    Administrador</a></li>
            <li class="divider" data-text="interfaces"></li>
            <li>
                <a href="#"><i class="fa-solid fa-cart-shopping icon"></i> Ventas <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nueva_venta.html">Nueva venta</a></li>
                    <li><a href="#">Ventas</a></li>

                </ul>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-truck-ramp-box icon"></i> Compras <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nueva_compra.html">Nueva compras</a></li>
                    <li><a href="../templates/compras.html">Compras</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-paste icon"></i> Productos <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nuevo_producto.html">Nuevo producto</a></li>
                    <li><a href="../templates/producto.html">Productos</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-cube icon"></i> Categoria <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nueva_categoria.html">Nueva categoria</a></li>
                    <li><a href="../templates/categoria.html">Categoria</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-users icon"></i> Clientes <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nuevo_cliente.html">Nuevo cliente</a></li>
                    <li><a href="../templates/cliente.html">Clientes</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-handshake icon"></i> Proveedores <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nuevo_proveedor.html">Nuevo proveedor</a></li>
                    <li><a href="../templates/proveedores.html">Proveedores</a></li>

                </ul>
            </li>

            <li>
                <a href="#"><i class="fa-solid fa-user icon"></i> Usuarios <i
                        class='bx bx-chevron-right icon-right'></i></a>
                <ul class="side-dropdown">
                    <li><a href="../templates/nuevo_usuario.html">Nuevo usuario</a></li>
                    <li><a href="../templates/usuario.html">Usuarios</a></li>

                </ul>
            </li>


        </ul>

    </section>
    <!-- SIDEBAR -->

    
</body>

</html>